title {
  padding: 500px;
}

body {
  font-family: "Calibri";
  font-size: 18px;
  background-color: white;
  line-height: 1.5;
  text-align: center;
}

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: #efefef
}

header {
  background-color: #D3D3D3;
  padding-bottom: 1px;
  border: solid #D3D3D3 5px;
  border-radius: 10px;
}

.main-image {
  border: solid 4px black;
  border-radius: 50%;
  margin-top: 50px;
  color: white;
}


/*split left and right are classes to attempt to have to veritcal sections for the 'skills' and 'experience' fields
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
*/

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

.attributes {
  font-size: 18px; 
}

.main-text {
  padding: 10px;
  background-color: #D3D3D3;
  margin-left: 300px;
  margin-right: 300px;
  border: white #D3D3D3 5px;
  border-radius: 10px;
}

footer {
  padding: 60px;
  border-bottom: solid white 15px;
}

a:link {
  color: navy;
}


